@import url(https://fonts.googleapis.com/css?family=Passion+One:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lobster);


body{
  font-family: "Indie Flower",cursive;
  font-size: 1.5em;
  background-color: #FFFFCC;
}

h1{
  font-family: "Lobster",cursive;
  font-weight: 400;
  color: Maroon;
  font-size: 60px;
}

h2{
  font-family: "Passion One",cursive;
  color: Maroon;
  font-weight: 400;
}

ul{
  font-size: 21px;
}
ol{
  font-size: 18px;
}



#ingredients {
  width: 49%;
  padding: 1px;
  margin: 1px;
float: left;
box-sizing: border-box;
}

#directions {
  width: 49%;
  padding: 1px;
  margin: 1px;
float: right;
box-sizing: border-box;
}
